In [1]:
try:
    import pandas as pd
    import numpy as np
    import matplotlib.pyplot as plt
    import seaborn as sns
    print("las dependencias se han instalado correctamente")
except Exception as e:
    print(f"Error al importar las dependencias: {e}")

las dependencias se han instalado correctamente

In [45]:
dfs = [pd.read_csv(f'parte_{i}.csv') for i in range(1, 6)]

# Unir todas las partes en un solo DataFrame y guardarlo en la variable 'frauds'
frauds = pd.concat(dfs, ignore_index=True)
frauds.sample(5)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6198082,574,PAYMENT,7535.24,C168767573,0.00,0.00,M534064449,0.00,0.00,0,0
263181,15,TRANSFER,278460.84,C1019855476,0.00,0.00,C886149094,2112095.44,2966529.12,0,0
4734609,332,CASH_OUT,45773.75,C646176077,12470.00,0.00,C604038937,0.00,45773.75,0,0
6144665,545,PAYMENT,2063.35,C1772647652,16008.00,13944.65,M1702406693,0.00,0.00,0,0
1459213,140,CASH_IN,193661.22,C2040724167,226653.48,420314.70,C2095471142,262248.33,68587.10,0,0

In [54]:
frauds_sin_todos_balances_cero = frauds[
                        (frauds['oldbalanceOrg'] != 0) &
                        (frauds['newbalanceOrig'] != 0) &
                        (frauds['oldbalanceDest'] != 0) &
                        (frauds['oldbalanceDest'] != 0)]

In [55]:
cash_out = frauds_sin_todos_balances_cero[(frauds_sin_todos_balances_cero['type'] == 'CASH_OUT')]

print("cantidad en dataset: ", cash_out.shape)

cash_out.sample(20)

cantidad en dataset:  (193851, 11)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
5806171,401,CASH_OUT,188511.65,C1645748683,351666.00,163154.35,C2133864849,1457349.47,1645861.12,0,0
365049,17,CASH_OUT,301545.09,C361050601,1453211.27,1151666.18,C1565462485,1142720.07,1383310.93,0,0
4864688,348,CASH_OUT,35689.10,C1367684407,80763.00,45073.90,C1034892282,1691616.12,1727305.22,0,0
6047107,492,CASH_OUT,4414.15,C690219508,14505.00,10090.85,C434454964,519416.63,523830.79,0,0
945407,43,CASH_OUT,138396.67,C1968756285,262726.25,124329.59,C1872808437,905287.23,1043683.90,0,0
3386933,255,CASH_OUT,1360.24,C1959495311,17476.00,16115.76,C592454964,604958.75,606318.99,0,0
4336641,308,CASH_OUT,36907.97,C1344176210,263016.16,226108.19,C1035777389,296839.12,333747.08,0,0
414812,18,CASH_OUT,30352.83,C825987617,202199.34,171846.50,C1676251961,436027.25,466380.08,0,0
4739242,332,CASH_OUT,58603.19,C2012565789,122347.06,63743.87,C1418109396,5385731.54,10764685.10,0,0
2054458,181,CASH_OUT,16485.82,C521217670,304418.00,287932.18,C184669938,1415076.47,1431562.29,0,0
6156515,548,CASH_OUT,119749.44,C926369225,740948.00,621198.56,C471802590,63862.54,183611.98,0,0
6095487,522,CASH_OUT,186956.90,C433162730,207641.00,20684.10,C878937621,185044.10,551950.79,0,0
3628064,274,CASH_OUT,26885.16,C1381493305,30764.00,3878.84,C678251940,3642045.72,3668930.89,0,0
5709093,398,CASH_OUT,115823.79,C1635016517,258024.00,142200.21,C174528488,3349890.47,3465714.26,0,0
638646,35,CASH_OUT,16470.37,C1939328419,95922.98,79452.61,C444002712,2542194.34,2558664.71,0,0
5033554,354,CASH_OUT,80584.48,C1942756180,95448.35,14863.87,C1357634480,85963.00,166547.48,0,0
2641705,209,CASH_OUT,319735.02,C1980010539,361103.00,41367.98,C920844420,7160.50,326895.53,0,0
4687802,331,CASH_OUT,3619.64,C1209878890,598167.00,594547.36,C2100443971,580668.02,584287.66,0,0
5296756,373,CASH_OUT,45413.24,C1524661891,225066.00,179652.76,C769961898,558460.69,603873.94,0,0
1028558,48,CASH_OUT,3062.38,C1404694560,16817.00,13754.62,C483720453,3537550.22,3540612.60,0,0

In [71]:
frauds_sin_todos_balances_cero_doscolumnas = cash_out[
                        ((cash_out['oldbalanceOrg'] == 0) &
                        (cash_out['newbalanceOrig'] == 0)) |
                        ((cash_out['oldbalanceDest'] == 0) &
                        (cash_out['newbalanceDest'] == 0))]

                        
print("cantidad en dataset frauds_sin_todos_balances_cero: ", frauds_sin_todos_balances_cero_doscolumnas.shape)

cantidad en dataset frauds_sin_todos_balances_cero:  (0, 11)

In [73]:
frauds_sin_todos_balances_cero_AlgunaColumnas = cash_out[
                        (cash_out['oldbalanceOrg'] == 0) |
                        (cash_out['newbalanceOrig'] == 0) |
                        (cash_out['oldbalanceDest'] == 0) |
                        (cash_out['newbalanceDest'] == 0)]

                                                
print("cantidad en dataset frauds_sin_todos_balances_cero_AlgunaColumnas: ", frauds_sin_todos_balances_cero_AlgunaColumnas.shape)

frauds_sin_todos_balances_cero_AlgunaColumnas.sample(11)

cantidad en dataset frauds_sin_todos_balances_cero_AlgunaColumnas:  (1763, 11)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
4248882,306,CASH_OUT,90161.95,C275163073,106552.00,16390.05,C1708900633,70149.0,0.0,0,0
41507,9,CASH_OUT,12742.05,C1337551017,39714.00,26971.95,C1214785209,9485.0,0.0,0,0
134971,11,CASH_OUT,53975.73,C768750330,300738.17,246762.44,C1866187941,10934.0,0.0,0,0
34071,8,CASH_OUT,420746.54,C307489538,713844.00,293097.46,C296230320,3821.0,0.0,0,0
694614,36,CASH_OUT,98104.06,C1316183437,320690.00,222585.94,C686005222,1475.0,0.0,0,0
5865375,403,CASH_OUT,25527.39,C1964101219,383196.02,357668.63,C1524127846,52096.0,0.0,0,0
233961,14,CASH_OUT,19165.67,C1389605679,52577.00,33411.33,C1860153933,17697.0,0.0,0,0
11445,7,CASH_OUT,90470.87,C1327620630,173457.00,82986.13,C1862972704,152949.0,0.0,0,0
270184,15,CASH_OUT,18277.51,C1543410075,152357.00,134079.49,C1657398992,5053.0,0.0,0,0
53692,9,CASH_OUT,13403.16,C2004611799,121420.00,108016.84,C1942888414,19672.0,0.0,0,0
1716003,160,CASH_OUT,3645.39,C1627303088,300169.00,296523.61,C436733215,329.0,0.0,0,0

In [79]:
cuenta_C686005222 = frauds[(frauds['nameDest'] == 'C686005222') | (frauds['nameOrig'] == 'C686005222')]
print("cantidad en dataset cuenta_C686005222: ", cuenta_C686005222.shape)

cuenta_C686005222.sort_values(by="step").sample(5)

cantidad en dataset cuenta_C686005222:  (5, 11)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
1904696,165,CASH_OUT,234053.08,C1287965822,99479.00,0.00,C686005222,0.00,234053.08,0,0
2119101,183,CASH_IN,21649.71,C356359962,9621.00,31270.71,C686005222,234053.08,212403.37,0,0
694614,36,CASH_OUT,98104.06,C1316183437,320690.00,222585.94,C686005222,1475.00,0.00,0,0
5986069,408,CASH_OUT,53292.59,C1608462522,0.00,0.00,C686005222,161774.07,215066.66,0,0
2729811,212,CASH_IN,50629.30,C1498052085,8090286.01,8140915.31,C686005222,212403.37,161774.07,0,0

ACA ABajo hay pruebas

In [20]:
print("cantidad en dataset: ", frauds.shape)
print("cantidad en dataset con todos balances en cero: ",frauds_balance_cero.shape)

cantidad en dataset:  (6362620, 11)
cantidad en dataset con todos balances en cero:  (775575, 11)

In [36]:
frauds_alguno_cero = frauds[
                        ((frauds['oldbalanceOrg'] == 0) &
                        (frauds['newbalanceOrig'] == 0)) |
                        ((frauds['oldbalanceDest'] == 0) &
                        (frauds['oldbalanceDest'] == 0))]

frauds_alguno_cero.shape
frauds_alguno_cero.sample(20)

print("cantidad en dataset: ", frauds.shape)
print("cantidad en dataset con ALGUNOS balances en cero: ",frauds_alguno_cero.shape)

cantidad en dataset:  (6362620, 11)
cantidad en dataset con ALGUNOS balances en cero:  (4017798, 11)

In [37]:
frauds_alguno_cero.sample(15)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
1318374,136,CASH_OUT,151666.05,C2098934134,0.00,0.00,C1595216598,316861.71,501759.59,0,0
3425217,256,PAYMENT,9545.15,C704983706,265726.61,256181.46,M1242995431,0.00,0.00,0,0
4264009,307,PAYMENT,345.36,C161406685,0.00,0.00,M1468905390,0.00,0.00,0,0
4885797,348,PAYMENT,15198.43,C951401320,319180.00,303981.57,M1750990179,0.00,0.00,0,0
95871,10,CASH_OUT,100407.65,C170664384,3675154.79,3574747.14,C1670297251,0.00,392927.98,0,0
4169162,304,TRANSFER,10000000.00,C1916345742,18476.00,0.00,C709876269,0.00,29414010.28,0,0
6069472,514,CASH_OUT,222028.35,C533293939,14446.00,0.00,C749813331,0.00,222028.35,0,0
4187710,305,CASH_OUT,72660.89,C543880365,0.00,0.00,C314613054,6621061.21,6693722.10,0,0
1725261,160,PAYMENT,2183.91,C1568274168,40800.53,38616.62,M587465267,0.00,0.00,0,0
1218763,133,PAYMENT,16006.20,C1264211776,3995.00,0.00,M371882757,0.00,0.00,0,0
2502410,204,CASH_OUT,21661.99,C1621395837,0.00,0.00,C2041880943,47411.00,69072.99,0,0
3574221,261,PAYMENT,652.97,C865665975,0.00,0.00,M843636970,0.00,0.00,0,0
1058344,96,PAYMENT,1160.68,C1159207178,60257.00,59096.32,M1055655380,0.00,0.00,0,0
1550842,154,CASH_OUT,33579.95,C464475462,0.00,0.00,C343243847,993894.44,1027474.38,0,0
4716954,332,PAYMENT,3503.28,C937802419,21176.00,17672.72,M398557946,0.00,0.00,0,0

In [44]:
cash_out = frauds[(frauds['type'] == 'CASH_OUT')]

print("cantidad en dataset: ", cash_out.shape)

cash_out_cero_origen = cash_out[(cash_out['oldbalanceOrg'] == 0) & (cash_out['newbalanceOrig'] == 0)]
cash_out_cero_destino = cash_out[(cash_out['oldbalanceDest'] == 0) & (cash_out['newbalanceDest'] == 0)]

print("cantidad en dataset cash_out_cero_origen : ", cash_out_cero_origen.shape)
print("cantidad en dataset cash_out_cero_destino : ", cash_out_cero_destino.shape)

cantidad en dataset:  (2237500, 11)
cantidad en dataset cash_out_cero_origen :  (1025799, 11)
cantidad en dataset cash_out_cero_destino :  (1608, 11)

In [43]:
cash_out_cero_origen.sample(20)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
1763399,161,CASH_OUT,141212.38,C1731847102,0.0,0.0,C737463550,13826522.35,13967734.73,0,0
3814063,281,CASH_OUT,247673.70,C210430343,0.0,0.0,C361834671,939465.75,1187139.45,0,0
1753485,161,CASH_OUT,348139.54,C879376462,0.0,0.0,C743412288,1488688.44,1866559.59,0,0
1536977,154,CASH_OUT,333277.89,C705740259,0.0,0.0,C1250112352,3423223.90,3756501.79,0,0
4964212,351,CASH_OUT,61839.95,C683155084,0.0,0.0,C2136908163,156052.92,217892.87,0,0
288018,15,CASH_OUT,235711.71,C1907971934,0.0,0.0,C1791561308,616318.43,852030.14,0,0
4646750,330,CASH_OUT,13794.32,C1411993728,0.0,0.0,C794367823,343258.05,357052.37,0,0
4404433,321,CASH_OUT,266794.31,C1046311711,0.0,0.0,C1748635127,2998556.32,3265350.63,0,0
310466,16,CASH_OUT,16719.36,C306756717,0.0,0.0,C1483270062,23303.00,0.00,0,0
1170908,132,CASH_OUT,200229.53,C2111829004,0.0,0.0,C1640405984,1672432.37,1872661.90,0,0
3014317,232,CASH_OUT,256854.84,C543796912,0.0,0.0,C975434701,5478167.15,5735021.99,0,0
707627,37,CASH_OUT,102000.30,C1340967833,0.0,0.0,C850958833,118503.27,220503.57,0,0
5949917,405,CASH_OUT,83938.83,C725678260,0.0,0.0,C171164029,263215.50,347154.33,0,0
5647215,396,CASH_OUT,146389.77,C1559347789,0.0,0.0,C2035455604,1100263.66,1246653.43,0,0
2669039,210,CASH_OUT,87546.02,C1164332064,0.0,0.0,C128463124,305067.71,392613.73,0,0
2169831,185,CASH_OUT,63342.08,C2124397123,0.0,0.0,C42623765,591370.78,654712.86,0,0
4965416,351,CASH_OUT,101774.99,C386533571,0.0,0.0,C1078813502,508650.10,610425.09,0,0
3599781,263,CASH_OUT,320575.51,C1780960450,0.0,0.0,C1629589546,2070115.15,2390690.66,0,0
4803578,346,CASH_OUT,16645.73,C734269883,0.0,0.0,C2085128512,303985.74,320631.47,0,0
3018805,233,CASH_OUT,159180.76,C141480405,0.0,0.0,C2090746243,2746120.97,2905301.74,0,0

In [34]:
# origen y destino son iguales pero distintos de cero
frauds_iguales = frauds[(frauds['oldbalanceOrg'] == frauds['newbalanceOrig']) & (frauds['oldbalanceOrg'] != 0) & (frauds['newbalanceOrig'] != 0)]

frauds_iguales.sample(5)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
4474,4,CASH_IN,81300.20,C870627780,2143395.30,2143395.30,C214774813,2143395.30,13381242.46,0,0
1292,1,CASH_IN,61505.91,C1790387225,4910403.44,4910403.44,C11003494,4910403.44,10588885.27,0,0
5996409,425,TRANSFER,9585040.37,C452586515,19585040.37,19585040.37,C1109166882,0.00,0.00,1,1
19057,8,CASH_IN,175007.10,C1656993994,12587653.43,12587653.43,C2042633527,12587653.43,22590474.83,0,0
5680,6,CASH_IN,120910.43,C604405894,2833408.48,2833408.48,C1636786811,2833408.48,6703099.06,0,0

In [23]:
frauds_inconsistente = frauds[
    abs(frauds["oldbalanceOrg"] - frauds["newbalanceOrig"]) != abs(frauds["newbalanceDest"] - frauds["oldbalanceDest"])
]

print("cantidad dataset inconsistente",frauds_inconsistente.shape)

frauds_inconsistente.sample(10)

cantidad dataset inconsistente (5346209, 11)

(5346209, 11)